html
	head
		title Login
		div
			a(href="/registration" id="reg") Register To Play
		
	body
		form(action="/login" method="post")
			h1 Login
			label(for = "userName" required) Username: 
			input(type = "text" id = "userName" name = "username")
			br
			br
			label(for = "pass" required) Password: 
			input(type = "text" id = "pass" name = "password")
			br
			br
			input(type = "submit" id = "login" value="Login" href="/login")

