html
	head
		title Login
		div
			a(href="/" id="reg") Home
		
	body
		form(action="/registration" method="post")
			h1 Registration
			label(for = "userName" required) Username: 
			input(type = "text" id = "userName" name = "username")
			br
			br
			label(for = "pass" required) Password: 
			input(type = "text" id = "pass" name = "password")
			br
			br
			input(type = "submit" id = "register" value="Register" href="/registration")

