<html>
	<head>
		<title>MMC</title>
		<div>
			<a  href="./Homepage.html">Homepage</a>
			<br>
      <a  href="./orderform.html">Order Menu</a>
			<br>
			<a  href="./stats">Statistics</a>
    </div>
		<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Bitter|Crimson+Text|Fira+Sans|Libre+Baskerville&display=swap" rel="stylesheet">
	</head>

	<body>
		<div><h1>Statistics</h1></div>
		<br><br>
		<div class="div1">
			Total Number of orders Received:
			<p id="p1"></p>
		</div>
		<div class="div2">
			Average order total:
			<p id="p2"></p>
		</div>
		<div class="div3">
			Most Popular item:
			<p id="p3"></p>
		</div>
	</body>
</html>
